body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-image: url("ova.jpg");
  background-position-x: -300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 60px;
}
.fa-spinner{
  
  width: 100%;
  text-align: center;
  
  color:darkgoldenrod

}
.text-center {
  color: darkgoldenrod;
}

.fa-4x {
  background-color: white;
  border: 3px solid white;
  width: 100%;
  text-align: center;
  font-size: 60px;
}

h1 {
  font-size: 50px;
}

.col-md-4 {
  margin-bottom: 5px;
}

html {
  position: relative;
  min-height: 100%;
}

#osobe, #planete, #brodovi {
  color: darkgoldenrod;
  text-decoration: none;
  font-size: 25px;
}

.about {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 50px;
}

.badge-warning {
  background-color: #f89406;
}

.badge-warning:hover {
  background-color: #c67605;
}

table {
  width:100%;
  border: 1px solid darkgoldenrod;
  font-size: 13px;
  display: none;
  background-color: white;
  color: black;
  table-layout:fixed;
}

table td:first-child {
  font-weight: bold;
}

table td:first-child:first-letter {
  text-transform: capitalize;
}

td {
  text-align: left;
  word-break: break-word;
  max-width:100%;
}

.card:hover {
  color: darkgoldenrod;
}

.card:hover table {
  display: table;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: black;
}

#modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 64px;
    height: 64px;
    padding:30px 15px 0px;
    /*border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;*/
    z-index: 1002;
    text-align:center;
  /*  overflow: auto;*/
}

